@font-face {
  font-family: AvenirNextCyr;
  src: url("../fonts/AvenirNextCyr-Regular.eot");
  src: url("../fonts/AvenirNextCyr-Regular.woff") format("woff"), url("../fonts/AvenirNextCyr-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: RalewayBold;
  src: url("../fonts/RalewayBold.eot");
  src: url("../fonts/RalewayBold.woff") format("woff"), url("../fonts/RalewayBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
body {
  font-family: AvenirNextCyr; }

.main-m-w {
  padding: 0 85px; }

.main-m-w-2 {
  padding: 0 66.5px; }

.head-menu {
  border-bottom: 1px solid #e8e8e8; }
  .head-menu .right-pushed-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .head-menu .right-pushed-menu .menu-list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex; }
      .head-menu .right-pushed-menu .menu-list .first-itm {
        padding: 0 30px; }
        .head-menu .right-pushed-menu .menu-list .first-itm:last-child {
          padding-right: 55px; }
        .head-menu .right-pushed-menu .menu-list .first-itm .link-menu {
          display: block;
          padding: 10px 2.5px;
          cursor: pointer;
          font-size: 14px;
          color: #cfcfcf;
          border-bottom: 2px solid transparent;
          transition: 0.3s; }
          .head-menu .right-pushed-menu .menu-list .first-itm .link-menu.active, .head-menu .right-pushed-menu .menu-list .first-itm .link-menu:hover {
            border-color: #ebebeb; }

.lang_block {
  position: relative;
  top: -2px;
  text-transform: uppercase;
  cursor: pointer; }
  .lang_block .flag_cur {
    padding-left: 22px;
    font-size: 14px;
    color: #373737;
    background-repeat: no-repeat;
    background-position: top 3px left; }

.lang_block .lang_select {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  border: 1px solid #179936;
  background: white;
  z-index: 20;
  padding: 5px 7px;
  display: none; }
  .lang_block .lang_select a {
    color: #000;
    transition: 0.3s; }
    .lang_block .lang_select a:hover {
      color: #179936; }

.logo-wrapp .main-m-w {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .logo-wrapp .main-m-w .left-side {
    max-width: 360px;
    width: 100%; }
  .logo-wrapp .main-m-w .mid-side .categorys {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; }
    .logo-wrapp .main-m-w .mid-side .categorys li {
      padding: 0 32.5px; }
      .logo-wrapp .main-m-w .mid-side .categorys li a, .logo-wrapp .main-m-w .mid-side .categorys li span {
        display: block;
        padding: 18px 0;
        display: block;
        cursor: pointer;
        font-size: 24px;
        color: #000;
        border-bottom: 2px solid transparent;
        transition: 0.3s; }
        .logo-wrapp .main-m-w .mid-side .categorys li a.active, .logo-wrapp .main-m-w .mid-side .categorys li a:hover, .logo-wrapp .main-m-w .mid-side .categorys li span.active, .logo-wrapp .main-m-w .mid-side .categorys li span:hover {
          border-color: #179936; }
  .logo-wrapp .main-m-w .right-side {
    max-width: 360px;
    width: 100%;
    display: flex;
    justify-content: flex-end; }
    .logo-wrapp .main-m-w .right-side .adt {
      color: #ebebeb;
      font-size: 14px;
      display: block;
      background: #179936;
      border-radius: 3px;
      margin-right: 26px;
      padding: 7px 33px;
      transition: 0.3s; }
      .logo-wrapp .main-m-w .right-side .adt:hover {
        background: rgba(23, 153, 54, 0.7); }
    .logo-wrapp .main-m-w .right-side .login {
      color: #ebebeb;
      font-size: 14px;
      display: block;
      background: #f5b818;
      border-radius: 3px;
      padding: 7px 33px;
      transition: 0.3s; }
      .logo-wrapp .main-m-w .right-side .login:hover {
        background: rgba(245, 184, 24, 0.7); }

.main-baner {
  height: 450px;
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 55px; }
  .main-baner:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45); }
  .main-baner:after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 49px;
    background-image: url(../img/shadow-1.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain; }
  .main-baner h1, .main-baner h2, .main-baner h3, .main-baner h4, .main-baner h5, .main-baner h6 {
    padding: 0 15px;
    color: #fff;
    position: relative;
    z-index: 5;
    font-size: 36px;
    margin: 0;
    font-family: RalewayBold;
    font-weight: normal; }

.search-wrapper .main-m-w form {
  max-width: 790px;
  margin: 0 auto;
  display: flex; }
  .search-wrapper .main-m-w form input {
    display: block;
    width: 100%;
    outline: none;
    border: none;
    background: #ebebeb;
    padding: 7px 20px 7px 55px;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-position: center left 30px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-size: 14px; }
    .search-wrapper .main-m-w form input::-webkit-input-placeholder {
      color: #9e9d9d; }
    .search-wrapper .main-m-w form input::-moz-placeholder {
      color: #9e9d9d; }
    .search-wrapper .main-m-w form input:-moz-placeholder {
      color: #9e9d9d; }
    .search-wrapper .main-m-w form input:-ms-input-placeholder {
      color: #9e9d9d; }
  .search-wrapper .main-m-w form button {
    width: 120px;
    flex-shrink: 0;
    font-size: 14px;
    color: #000;
    background: #d0d0d0;
    border: none;
    outline: none;
    border-radius: 3px;
    position: relative;
    display: block;
    left: -2px;
    font-family: RalewayBold;
    transition: 0.3s; }
    .search-wrapper .main-m-w form button:hover {
      background: #179936;
      color: #fff; }

.tech-types {
  margin-top: -15px;
  margin-bottom: 30px; }
  .tech-types h1, .tech-types h2, .tech-types h3, .tech-types h4, .tech-types h5, .tech-types h6 {
    font-family: RalewayBold;
    font-weight: normal;
    font-size: 24px;
    margin: 0;
    margin-bottom: 60px; }
  .tech-types .categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    margin: 0;
    list-style: none;
    padding: 0; }
    .tech-types .categories li {
      width: 10%;
      padding: 0 10px;
      margin-bottom: 20px;
      transition: 0.3s;
      cursor: pointer; }
      .tech-types .categories li img {
        margin: 0 auto 5px auto; }
      .tech-types .categories li a, .tech-types .categories li span {
        display: block;
        font-size: 14px;
        text-align: center;
        color: #000; }
      .tech-types .categories li:hover {
        transform: scale(1.1); }

.products-wrapp .head-products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px; }
  .products-wrapp .head-products .left-side h1, .products-wrapp .head-products .left-side h2, .products-wrapp .head-products .left-side h3, .products-wrapp .head-products .left-side h4, .products-wrapp .head-products .left-side h5, .products-wrapp .head-products .left-side h6 {
    font-size: 24px;
    font-weight: normal;
    font-family: RalewayBold;
    margin: 0; }
  .products-wrapp .head-products .left-side p {
    font-size: 16px;
    color: #898888; }
  .products-wrapp .head-products .right-side .google-ad {
    width: 728px;
    height: 90px; }
.products-wrapp .all-product {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start; }
  .products-wrapp .all-product .one-product-wr {
    width: 20%;
    padding: 0 18.5px;
    margin-bottom: 35px; }
    .products-wrapp .all-product .one-product-wr .one-product {
      transition: 0.3s;
      cursor: pointer; }
      .products-wrapp .all-product .one-product-wr .one-product:hover {
        transform: scale(1.1); }
      .products-wrapp .all-product .one-product-wr .one-product .img-before {
        position: relative;
        width: 100%;
        overflow: hidden;
        margin-bottom: 7px; }
        .products-wrapp .all-product .one-product-wr .one-product .img-before:before {
          content: '';
          display: block;
          padding-top: 68%;
          position: relative; }
        .products-wrapp .all-product .one-product-wr .one-product .img-before:after {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.4); }
        .products-wrapp .all-product .one-product-wr .one-product .img-before .img-product {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: center no-repeat;
          background-size: cover; }
        .products-wrapp .all-product .one-product-wr .one-product .img-before .top-text {
          position: absolute;
          text-align: center;
          top: 0;
          right: 0;
          z-index: 5;
          background: #fff;
          width: 77px;
          padding: 7px 5px; }
      .products-wrapp .all-product .one-product-wr .one-product a {
        font-size: 19px;
        color: #000;
        font-family: RalewayBold;
        display: block; }
.products-wrapp .all-product-with-ad {
  display: flex;
  align-items: flex-start; }
  .products-wrapp .all-product-with-ad .ad-big {
    flex-shrink: 0;
    padding: 0 18.5px; }
    .products-wrapp .all-product-with-ad .ad-big .ad-wrapp {
      width: 309px;
      border: 1px solid red; }
  .products-wrapp .all-product-with-ad .all-product {
    width: 100%; }
    .products-wrapp .all-product-with-ad .all-product .one-product-wr {
      width: 25%; }

/*# sourceMappingURL=style.css.map */
