.index_text {
  margin-top: 40px;
  margin-bottom: 70px; }
  .index_text .index_text_wrap {
    display: flex; }
    .index_text .index_text_wrap .google_banner {
      width: 300px;
      height: 600px;
      flex-shrink: 0; }
    .index_text .index_text_wrap .text {
      width: 100%;
      padding-left: 50px;
      color: #000;
      font: 16px AvenirNextCyr; }
      .index_text .index_text_wrap .text h1, .index_text .index_text_wrap .text h2, .index_text .index_text_wrap .text h3, .index_text .index_text_wrap .text h4, .index_text .index_text_wrap .text h5, .index_text .index_text_wrap .text h6 {
        font-family: RalewayBold;
        margin-bottom: 25px; }
      .index_text .index_text_wrap .text h1 {
        font-size: 24px; }
      .index_text .index_text_wrap .text h2 {
        font-size: 22px; }
      .index_text .index_text_wrap .text h3 {
        font-size: 20px; }
      .index_text .index_text_wrap .text h4, .index_text .index_text_wrap .text h5, .index_text .index_text_wrap .text h6 {
        font-size: 18px; }

.green_cats_section .green_cats_wrap {
  display: flex; }
  .green_cats_section .green_cats_wrap .green_cats {
    display: flex;
    width: 100%; }
    .green_cats_section .green_cats_wrap .green_cats .green_cat {
      width: 33.333%;
      height: 250px;
      flex-shrink: 0;
      background: url(../img/green_cat_bg.jpg) no-repeat center;
      background-size: cover;
      transition: 0.3s;
      cursor: pointer; }
      .green_cats_section .green_cats_wrap .green_cats .green_cat .green_cat_in {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: right 30px center;
        position: relative; }
        .green_cats_section .green_cats_wrap .green_cats .green_cat .green_cat_in .text {
          position: absolute;
          bottom: 15px;
          left: 50px; }
          .green_cats_section .green_cats_wrap .green_cats .green_cat .green_cat_in .text span {
            display: block;
            width: 47px;
            height: 47px;
            border-radius: 47px;
            border: 1px solid #fff;
            position: relative;
            margin-bottom: 20px; }
            .green_cats_section .green_cats_wrap .green_cats .green_cat .green_cat_in .text span:before {
              width: 11px;
              height: 17px;
              background: url(../img/gc_arrow.png) no-repeat;
              position: absolute;
              content: '';
              top: 15px;
              left: 18px; }
          .green_cats_section .green_cats_wrap .green_cats .green_cat .green_cat_in .text a {
            color: #fff;
            font: bold 18px AvenirNextCyr;
            text-transform: uppercase; }
          .green_cats_section .green_cats_wrap .green_cats .green_cat .green_cat_in .text p {
            color: #fff;
            font: 12px AvenirNextCyr;
            margin: 5px 0 0; }
      .green_cats_section .green_cats_wrap .green_cats .green_cat.active {
        transform: scale(1.1);
        box-shadow: 0 5px 15px 6px rgba(0, 0, 0, 0.4); }
  .green_cats_section .green_cats_wrap .google_banner {
    width: 300px;
    height: 250px;
    flex-shrink: 0; }

footer {
  background: #f9f9f9;
  padding: 50px 0;
  margin: 0; }

.footer_wrap {
  display: flex; }
  .footer_wrap .footer_left {
    width: 28.5%;
    flex-shrink: 0;
    padding-top: 45px; }
    .footer_wrap .footer_left p {
      margin: 20px 0 0; }
      .footer_wrap .footer_left p a {
        color: #000;
        font: 22px AvenirNextCyr;
        transition: 0.3s; }
        .footer_wrap .footer_left p a:hover {
          color: #179936; }
      .footer_wrap .footer_left p span {
        color: #979696;
        font: 12px AvenirNextCyr;
        cursor: pointer;
        transition: 0.3s; }
        .footer_wrap .footer_left p span:hover {
          color: #179936; }
  .footer_wrap .footer_menu {
    padding-right: 35px; }
    .footer_wrap .footer_menu .zag {
      font: 18px RalewayBold;
      margin-bottom: 20px; }
    .footer_wrap .footer_menu ul {
      list-style: none;
      margin: 0 0 0 17px;
      padding: 0; }
      .footer_wrap .footer_menu ul li {
        width: 80%;
        margin-bottom: 10px; }
        .footer_wrap .footer_menu ul li a {
          color: #969696;
          font: 12px AvenirNextCyr;
          display: inline-block;
          line-height: 1.2;
          transition: 0.3s; }
          .footer_wrap .footer_menu ul li a:hover {
            color: #179936; }
    .footer_wrap .footer_menu .payments {
      color: #969696;
      font: 14px AvenirNextCyr;
      margin-left: 17px;
      margin-top: 50px; }
      .footer_wrap .footer_menu .payments img {
        margin-top: 15px; }
    .footer_wrap .footer_menu.footer_menu1 ul {
      column-count: 2; }

/*# sourceMappingURL=style-t.css.map */
